
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <div>
        <label class="number-destination">02</label>
        <label class="title-destination">MEET YOUR CREW</label>
      </div>
      <div class="commander-descripton text-start">
        <h2>FLIGHT ENGINEER</h2>
        <h1>ANOUSHEW ANSARI</h1>
        <h3>Anousheh Ansari is an Iranian American engineer and co-founder of Prodea Systems. Ansari was the fourth self-funded space tourist, the first self-funded woman to fly to the ISS, and the first Iranian in space. </h3>
        <br>
        <div>
          <button routerLink="/commander" class="bola"></button>
          <button routerLink="/specialist" class="bola"></button>
          <button routerLink="/pilot" class="bola"></button>
          <button routerLink="/engineer" class="bola-selecionada"></button>
        </div>
      </div>
    </div>
    <div class="col align-items-center">
      <div>
        <img class="engineer-image" src="../../../../assets/crew/image-anousheh-ansari.png" alt="anousheh-ansari">
      </div>
    </div>
</div>

