<div>
  <label class="number-destination">01</label>
  <label class="title-destination" >PICK YOUR DESTINATION</label>
</div>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <div>
        <img src="../../../assets/destination/image-moon.png" alt="Moon">
      </div>
    </div>
    <div class="col align-items-center">
      <div class="menu-destination">
        <div>
          <button routerLink="/moon" class="button-destination">MOON</button>
        </div>
        <div>
          <button routerLink="/mars" class="button-destination">MARS</button>
        </div>
        <div>
          <button routerLink="/europa" class="button-destination">EUROPA</button>
        </div>
        <div>
          <button routerLink="/titan" class="button-destination">TITAN</button>
        </div>
      </div>
      <div class="moon-descripton text-start">
        <h1>MOON</h1>
        <h3>See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain perspective and come back refreshed. While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.</h3>
        <br>
        <hr class="linha">
        <div class="informations-description">
          <div class="row align-items-start">
            <div class="col">
              <div>
                <h4>AVG. DISTANCE</h4>
                <div>
                  <label class="informations">384,400 km</label>
                </div>
              </div>
            </div>
            <div class="col">
              <div>
                <h4>Est. travel time</h4>
                <div>
                  <label class="informations">3 days</label>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
