<div class="container">
  <div class="row div-spaces">
    <div class="title-principal">
      <label class="number-destination">03</label>
      <label class="title-destination">SPACE LAUNCH 101</label>
    </div>
    <div class="col-2 bolas">
      <div class="div-bolas">
        <button routerLink="/vehicle" class="bola">1</button>
        <button routerLink="/spaceport" class="bola-selecionada">2</button>
        <button routerLink="/capsule" class="bola">3</button>
      </div>
    </div>
    <div class="col-5 spaceport-descripton">
      <h5>THE TERMINOLOGY…</h5>
      <h1>SPACEPORT</h1>
      <h3>A spaceport or cosmodrome is a site for launching (or receiving) spacecraft, by analogy to the seaport for ships or airport for aircraft. Based in the famous Cape Canaveral, our spaceport is ideally situated to take advantage of the Earth’s rotation for launch.</h3>
      <br>
    </div>
    <div class="col-5 align-items-sms-end div-spaceport-image">
      <img class="spaceport-image" src="../../../../assets/technology/image-spaceport-portrait.jpg" alt="spaceport">
    </div>
</div>

