.title-destination{
  color: #FFFFFF;
  font-size: 28px;
  letter-spacing: 4.72 px;
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 34px;
}

.number-destination{
  font-size: 28px;
  letter-spacing: 4.72 px;
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 34px;
  font-weight: 700;
  padding-right: 1%;
  padding-top: 5%;
  padding-bottom: 3%;
}

.bola {
  font-family: 'Bellefair', serif;
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 65px;
  width: 65px;
  border: 1px solid #ffffff;
  background: #0B0D17;
  mix-blend-mode: normal;
  opacity: 0.90;
  margin-bottom: 18%;
  color: #FFFFFF;
  font-size: 28px;
  margin-top: 25%;
}

.bola-selecionada {
  font-family: 'Bellefair', serif;
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 65px;
  width: 65px;
  border: 1px solid #ffffff;
  mix-blend-mode: normal;
  margin-bottom: 18%;
  color: #0B0D17;
  font-size: 28px;
  margin-top: 25%;
}

.spaceport-descripton h5{
  font-family: 'Barlow Condensed', sans-serif;
  color: #D0D6F9;
  line-height: 19px;
  letter-spacing: 2.7px;
  font-size: 16px;
  margin-top: 13%;
}

.spaceport-descripton h1{
  font-family: 'Bellefair', serif;
  font-size: 56px;
  line-height: 64px;
  color: #FFFFFF;
}

.spaceport-descripton h3{
  font-family: 'Barlow', sans-serif;
  color: #D0D6F9;
  font-size: 18px;
  line-height: 32px;
  width: 84.5%;
}

.spaceport-image{
  max-width: 88.5%;
  margin-left: 40%;
}

@media (min-width: 1000px) and (max-width: 1593px){
  .spaceport-image{
    margin-left: 30%;
  }
}

@media(max-width: 1487px){
  .spaceport-image{
    margin-left: 20%;
  }
}

@media (min-width: 1111px) and (max-width: 1399px){
  .spaceport-descripton h1{
    font-size: 44px;
  }

  .spaceport-descripton h3{
    font-family: 'Barlow', sans-serif;
    color: #D0D6F9;
    font-size: 16px;
    line-height: 32px;
    width: 99%;
  }
}

@media (min-width: 706px) and (max-width: 1110px){
  .div-spaces{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .title-principal{
    text-align: center;
    margin-top: 5%;
  }

  .bolas{
    width: 100%;
  }

  .div-bolas{
    display: flex;
  }

  .bola {
    display: inline-block;
    margin: auto auto;
    font-size: 28px;
    margin-top: 2%;
  }

  .bola-selecionada {
    display: inline-block;
    margin: auto auto;
    font-size: 28px;
    margin-top: 2%;
  }

  .spaceport-descripton{
    width: 100%;
  }

  .spaceport-descripton h3{
    width: 100%;
  }

  .div-spaceport-image{
    width: 100%;
  }

  .spaceport-image{
    margin-left: 0%;
    margin-bottom: 5%;
  }
}
