<div >
  <label class="number-destination">01</label>
  <label class="title-destination">PICK YOUR DESTINATION</label>
</div>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <div>
        <img src="../../../../assets/destination/image-mars.png" alt="Moon">
      </div>
    </div>
    <div class="col align-items-center">
      <div class="menu-destination">
        <div>
          <button routerLink="/moon" class="button-destination">MOON</button>
        </div>
        <div>
          <button routerLink="/mars" class="button-destination">MARS</button>
        </div>
        <div>
          <button routerLink="/europa" class="button-destination">EUROPA</button>
        </div>
        <div>
          <button routerLink="/titan" class="button-destination">TITAN</button>
        </div>
      </div>
      <div class="moon-descripton text-start">
        <h1>MARS</h1>
        <h3>Don’t forget to pack your hiking boots. You’ll need them to tackle Olympus Mons, the tallest planetary mountain in our solar system. It’s two and a half times the size of Everest!</h3>
        <br>
        <hr class="linha">
        <div class="informations-description">
          <div class="row align-items-start">
            <div class="col">
              <div>
                <h4>AVG. DISTANCE</h4>
                <div>
                  <label class="informations">225 MIL. km</label>
                </div>
              </div>
            </div>
            <div class="col">
              <div>
                <h4>Est. travel time</h4>
                <div>
                  <label class="informations">9 months</label>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>

