<div class="title-principal">
  <label class="number-destination">01</label>
  <label class="title-destination">PICK YOUR DESTINATION</label>
</div>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <div>
        <img src="../../../assets/destination/image-europa.png" alt="Moon">
      </div>
    </div>
    <div class="col align-items-center menu-description">
      <div class="menu-destination">
        <div>
          <button routerLink="/moon" class="button-destination menu-moon">MOON</button>
        </div>
        <div>
          <button routerLink="/mars" class="button-destination menu-mars">MARS</button>
        </div>
        <div>
          <button routerLink="/europa" class="button-destination menu-europa-selecionado">EUROPA</button>
        </div>
        <div>
          <button routerLink="/titan" class="button-destination menu-titan">TITAN</button>
        </div>
      </div>
      <div class="moon-descripton text-start">
        <h1>EUROPA</h1>
        <h3>The smallest of the four Galilean moons orbiting Jupiter, Europa is a winter lover’s dream. With an icy surface, it’s perfect for a bit of ice skating, curling, hockey, or simple relaxation in your snug wintery cabin.</h3>
        <br>
        <hr class="linha">
        <div class="informations-description">
          <div class="row align-items-start">
            <div class="col div-informations">
              <div>
                <h4>AVG. DISTANCE</h4>
                <div>
                  <label class="informations">628 MIL. km</label>
                </div>
              </div>
            </div>
            <div class="col div-informations">
              <div>
                <h4>Est. travel time</h4>
                <div>
                  <label class="informations">3 years</label>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>

