<div class="container">
  <div class="row">
    <div>
      <label class="number-destination">03</label>
      <label class="title-destination">SPACE LAUNCH 101</label>
    </div>
    <div class="col-2">
      <div>
        <button routerLink="/vehicle" class="bola">1</button>
        <button routerLink="/spaceport" class="bola">2</button>
        <button routerLink="/capsule" class="bola-selecionada">3</button>
      </div>
    </div>
    <div class="col-5 capsule-descripton">
      <h5>THE TERMINOLOGY…</h5>
      <h1>SPACE CAPSULE</h1>
      <h3>A space capsule is an often-crewed spacecraft that uses a blunt-body reentry capsule to reenter the Earth's atmosphere without wings. Our capsule is where you'll spend your time during the flight. It includes a space gym, cinema, and plenty of other activities to keep you entertained.</h3>
      <br>
    </div>
    <div class="col-5 align-items-sms-end">
      <img class="capsule-image" src="../../../../assets/technology/image-space-capsule-portrait.jpg" alt="space-capsule">
    </div>
</div>

