<div class="body-home">
  <div class="container">
    <div class="row">
      <div class="col align-self-end text-home">
        <h5>So, you want to travel to</h5>
        <h1>SPACE</h1>
        <h6>Let’s face it; if you want to go to space, you might as well genuinely go to
          outer space and not hover kind of on the edge of it. Well sit back, and relax
          because we’ll give you a truly out of this world experience!</h6>
      </div>
      <div class="col align-self-end img-explore">
          <div>
            <button routerLink="/moon" class="button-explore">
              <img src="../../../assets/home/Oval Copy.png" alt="Explore">
              <label>EXPLORE</label>
            </button>
          </div>
      </div>
    </div>
  </div>
</div>
