
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <div>
        <label class="number-destination">02</label>
        <label class="title-destination">MEET YOUR CREW</label>
      </div>
      <div class="commander-descripton text-start">
        <h2>COMMANDER</h2>
        <h1>DOUGLAS HURLEY</h1>
        <h3>Douglas Gerald Hurley is an American engineer, former Marine Corps pilot and former NASA astronaut. He launched into space for the third time as commander of Crew Dragon Demo-2.</h3>
        <br>
        <div>
          <button routerLink="/commander" class="bola-selecionada"></button>
          <button routerLink="/specialist" class="bola"></button>
          <button routerLink="/pilot" class="bola"></button>
          <button routerLink="/engineer" class="bola"></button>
        </div>
      </div>
    </div>
    <div class="col align-items-center">
      <div>
        <img class="commander-image" src="../../../../assets/crew/image-douglas-hurley.png" alt="douglas-hurley">
      </div>
    </div>
</div>
