
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <div>
        <label class="number-destination">02</label>
        <label class="title-destination">MEET YOUR CREW</label>
      </div>
      <div class="commander-descripton text-start">
        <h2>PILOT</h2>
        <h1>VICTOR GLOVER</h1>
        <h3>Pilot on the first operational flight of the SpaceX Crew Dragon to the International Space Station. Glover is a commander in the U.S. Navy where he pilots an F/A-18.He was a crew member of Expedition 64, and served as a station systems flight engineer. </h3>
        <br>
        <div>
          <button routerLink="/commander" class="bola"></button>
          <button routerLink="/specialist" class="bola"></button>
          <button routerLink="/pilot" class="bola"></button>
          <button routerLink="/engineer" class="bola"></button>
        </div>
      </div>
    </div>
    <div class="col align-items-center">
      <div>
        <img class="pilot-image" src="../../../../assets/crew/image-victor-glover.png" alt="victor-glover">
      </div>
    </div>
</div>

