<div class="container">
  <div class="row">
    <div>
      <label class="number-destination">03</label>
      <label class="title-destination">SPACE LAUNCH 101</label>
    </div>
    <div class="col-2">
      <div>
        <button routerLink="/vehicle" class="bola-selecionada">1</button>
        <button routerLink="/spaceport" class="bola">2</button>
        <button routerLink="/capsule" class="bola">3</button>
      </div>
    </div>
    <div class="col-5 vehicle-descripton">
      <h5>THE TERMINOLOGY…</h5>
      <h1>LAUNCH VEHICLE</h1>
      <h3>A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, it's quite an awe-inspiring sight on the launch pad!</h3>
      <br>
    </div>
    <div class="col-5 align-items-sms-end">
      <img class="vehicle-image" src="../../../../assets/technology/image-launch-vehicle-portrait.jpg" alt="launch-vehicle">
    </div>
</div>
