
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <div>
        <label class="number-destination">02</label>
        <label class="title-destination">MEET YOUR CREW</label>
      </div>
      <div class="commander-descripton text-start">
        <h2>MISSION SPECIALIST</h2>
        <h1>MARK SHUTTLEWORTH</h1>
        <h3>Mark Richard Shuttleworth is the founder and CEO of Canonical, the company behind the Linux-based Ubuntu operating system. Shuttleworth became the first South African to travel to space as a space tourist.</h3>
        <br>
        <div>
          <button routerLink="/commander" class="bola"></button>
          <button routerLink="/specialist" class="bola-selecionada"></button>
          <button routerLink="/pilot" class="bola"></button>
          <button routerLink="/engineer" class="bola"></button>
        </div>
      </div>
    </div>
    <div class="col align-items-center">
      <div>
        <img class="specialist-image" src="../../../../assets/crew/image-mark-shuttleworth.png" alt="mark-shuttleworth">
      </div>
    </div>
</div>
