<div class="cabecalho">
  <div class="logo">
    <img class="img-estrela" src="../../../assets/shared/logo.svg" alt="Logo-Estrela">
    <img class="img-linha"src="../../../assets/shared/Retangulo.png" alt="Retangulo">
  </div>
  <div class="menu">
    <div class="menu-itens">
      <button routerLink="/content" class="link-menu menu-home"><strong>00</strong> HOME</button>
    </div>
    <div class="menu-itens">
      <button routerLink="/moon" class="link-menu menu-destination"><strong>01</strong> DESTINATION</button>
    </div>
    <div class="menu-itens">
      <button routerLink="/commander" class="link-menu menu-crew"><strong>02</strong> CREW</button>
    </div>
    <div class="menu-itens">
      <button routerLink="/vehicle" class="link-menu menu-technology"><strong>03</strong> TECHNOLOGY</button>
    </div>
  </div>
</div>
