<div class="cabecalho">
  <div class="logo">
    <img class="img-estrela" src="../../../assets/shared/logo.svg" alt="Logo-Estrela">
    <img class="img-linha"src="../../../assets/shared/Retangulo.png" alt="Retangulo">
  </div>
  <div class="menu">
    <div class="menu-itens">
      <a href="" class="link-menu"><strong>00</strong> HOME</a>
    </div>
    <div class="menu-itens">
      <a href="" class="link-menu"><strong>01</strong> DESTINATION</a>
    </div>
    <div class="menu-itens">
      <a href="" class="link-menu"><strong>02</strong> CREW</a>
    </div>
    <div class="menu-itens">
      <a href="" class="link-menu"><strong>03</strong> TECHNOLOGY</a>
    </div>
  </div>
</div>
